include ../../../components/phone/phone
include ../../../components/header-top/header-top
include ../../../components/header-bottom/header-bottom
include ../../../components/menu/menu

header.header
  +header-top().header__top
  +header-bottom().header__bottom
  +menu2().header__mobile-menu