include ../more-btn/more-btn

mixin master
  section.section.master&attributes(attributes)
    .container
      .row.master__row
        .col-12.col-md-5.col-xxl-6.master__col
          .master__block
            +icon('master-bg').master__bg
            img(src="img/master/photo.png").master__photo
        .col-12.col-md-7.col-xxl-6.master__col2
          h3.master__title О мастере
          h4.master__name Николай Виноградов
          .master__text-block
            p.master__text Мастер-ювелир, выпускник Красносельского училища художественной обработки металлов, основатель бренда православных украшений «Виноградов».
            bloquote.blockquote.master__blockquote “ В своей работе мы стремимся чувствовать дух времени и чтить традиции устоявшегося православного мира, где сочетание этики и эстетики играют ключевую роль. Главная задача нашего бренда – уловить и передать глубокое духовное содержание православной веры. Каждое наше изделие – приглашение к глубокому погружению в духовные размышления и поиск Господа. Обязательное требование к изделиям – их высокое ювелирное качество, которое достигается квалификацией наших мастеров. Все изделия проходят авторский контроль. Но чтобы наши изделия действительно начали «жить», им нужна ваша искренность и глубокая вера “
          +more-btn('Подробнее', 'arrow-right', true).master__more