extends ../../layouts/layout-page/layout-page
include ../../components/breadcrumbs/breadcrumbs
include ../../components/title/title
include ../../components/news-section/news-section

include ../../components/modals/registration-modal/registration-modal
include ../../components/modals/auth-modal/auth-modal

block title
  -var title = 'Новый вектор развития православных украшений'
  title= title

block before-content
  -
    const list = ['Главная', 'Блог', 'Новый вектор развития православных украшений']
  + breadcrumbs(list)
  +title('h1', 'Новый вектор развития православных украшений')

block content
  .blog-detail
    .blog-detail__article
      .blog-detail__img-wrap
        img.blog-detail__img(src="img/blog/1.jpg" alt="")
      .blog-detail__info
        span.blog-detail__date 24.10.2022
        span.blog-detail__category Рубрика: <span>Обзор товаров</span>
      .blog-detail__body
        .row
          .col-12.col-xxl-9
            p Кстати, реплицированные с зарубежных источников, современные исследования рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок! Сложно сказать, почему многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы. Каждый из нас понимает очевидную вещь: внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий. Имеется спорная точка зрения, гласящая примерно следующее: интерактивные прототипы набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений.
            p Банальные, но неопровержимые выводы, а также сторонники тоталитаризма в науке и по сей день остаются уделом либералов, которые жаждут быть описаны максимально подробно. Равным образом, высококачественный прототип будущего проекта требует от нас анализа форм воздействия. Безусловно, современная методология разработки однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности. Следует отметить, что перспективное планирование представляет собой интересный эксперимент проверки новых принципов формирования материально-технической и кадровой базы.
            p В своём стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности требует от нас анализа новых предложений. Являясь всего лишь частью общей картины, представители современных социальных резервов набирают популярность среди определенных слоев населения, а значит, должны быть обнародованы.
          .col-xxl-3.blog-detail__quote-col
            +icon('quote').blog-detail__quote
    +news-section('Будет интересно')

block modals
  +auth-modal()
  +registration-modal()