extends ../../layouts/layout-page/layout-page
include ../../components/breadcrumbs/breadcrumbs
include ../../components/title/title
include ../../components/tabs/tabs
include ../../components/brand-slider/brand-slider

include ../../components/modals/registration-modal/registration-modal
include ../../components/modals/auth-modal/auth-modal

block title
  -var title = 'О бренде'
  title= title

block before-content
  -
    const list = ['Главная', 'О бренде']
  + breadcrumbs(list)
  +title('h1', 'О бренде')

block content
  -
    const tabs = [
      {
        label: 'Биография и концепция бренда',
        name: 'biography',
        active: true
      },
      {
        label: 'Наша миссия',
        name: 'mission',
      },
      {
        label: 'Наши ценности',
        name: 'value',
      },
    ]
  .brand
    .brand__img-wrap
      img.brand__img(src="img/blog/1.jpg" alt="")
    +tabs(tabs)
      +slot('biography')
        +title-h2-medium('О себе')
        .row.brand__biography-row1
          .col-12.d-xxl-none
            p Я родился и провёл детство в небольшом селе Костромской области, неподалёку от места подвига Ивана Сусанина. С 6 лет начал увлекаться рисованием и декоративно-прикладным искусством. Мои первые рисунки выполнялись вместе с отцом, от него я и унаследовал стремление доводить работу до совершенства. В школе очень любил рисование и уроки труда, постоянно принимал участие в различных творческих конкурсах.
            p Окончил Сусанинскую художественную школу, где целенаправленно готовился к поступлению в КУХОМ. Профессия «ювелир» для меня тогда была чем-то из другого мира, казалась очень интересной, необычной и сложной, о «ювелирной точности» я слышал только по телевизору.
            p Я очень хорошо и детально помню свою первую поездку в Красное-на-Волге, настолько это было значимо и волнительно. При поступлении нужно было выбрать направление: гравер (это слово я тогда услышал впервые) или ювелирное искусство. По совету своего будущего классного руководителя я выбрал гравёрный факультет, так как после него освоить ювелирное дело было гораздо проще. Так началось моё знакомство с ювелирным искусством.
          .d-none.col-xxl-5.d-xxl-block
            p Я родился и провёл детство в небольшом селе Костромской области, неподалёку от места подвига Ивана Сусанина. С 6 лет начал увлекаться рисованием и декоративно-прикладным искусством. Мои первые рисунки выполнялись вместе с отцом, от него я и унаследовал стремление доводить работу до совершенства. В школе очень любил рисование и уроки труда, постоянно принимал участие в различных творческих конкурсах.
            p Окончил Сусанинскую художественную школу, где целенаправленно готовился к поступлению в КУХОМ. Профессия «ювелир» для меня тогда была чем-то из другого мира, казалась очень интересной,
          .d-none.col-xxl-5.offset-xxl-2.d-xxl-block
            p необычной и сложной, о «ювелирной точности» я слышал только по телевизору.
            p Я очень хорошо и детально помню свою первую поездку в Красное-на-Волге, настолько это было значимо и волнительно. При поступлении нужно было выбрать направление: гравер (это слово я тогда услышал впервые) или ювелирное искусство. По совету своего будущего классного руководителя я выбрал гравёрный факультет, так как после него освоить ювелирное дело было гораздо проще. Так началось моё знакомство с ювелирным искусством.
        .brand__biography-img-wrap
          img.brand__biography-img(src="img/brand/1.jpg" alt="")
        .row.brand__biography-row1
          .col-12.col-xxl-5.offset-xxl-1.d-xxl-block.pt-xxl-5.mb-4.mb-xxl-0.order-xxl-1
            +title-h2-medium('Образование')
            p КУХОМ – уникальное учебное заведение, это единственное в России училище, специализирующееся на подготовке мастеров-ювелиров с 1897 года. Множество предметов в учебной программе КУХОМа формируют творческое мышление студентов. Композиция, рисунок, скульптура, живопись и мастерство помогают чувствовать форму, цвет, свойства металлов. Большая часть занятий – практические, наверное, поэтому училище считается лучшим в России и странах СНГ.
          .col-12.col-xxl-6.order-xxl-0
            .brand__biography-img-wrap2
              img.brand__biography-img2(src="img/brand/1.jpg" alt="")
          .col-12.order-xxl-2.d-xxl-none
            +title-h2-medium('Вдохновение православной тематикой')
            p На первом курсе училища мы поехали на ювелирную выставку в Сокольниках (Москва). Там я впервые увидел изделия Юрия Федорова,  лучшего тогда православного ювелира. Из всего разнообразия ювелирных украшений на выставке, мне в душу запали именно его крестики и образки, настолько они были красивы и детализированы. Слитые воедино символы и воплощённые образы максимально точно передавали красоту ликов.
            p Еще одним ключевым моментом стала моя выпускная разрядная работа. В качестве разрядного проекта я выбрал изготовление православного креста из музея КУХОМа, он пользовался популярностью на ювелирных  выставках, в которых участвовало училище. Крест был классическим, четырёхконечной формы с выгравированной орнаментальной рамкой и скульптурой Иисуса.
            p Главное для любого христианина украшение, нательный крест, отличался особой детализацией, моей задачей было сделать его копию. Крест я изготавливал полностью вручную, 3D-технологий тогда не существовало. Каждый элемент требовал тщательной проработки, суть процесса заключалась в том, что из пластины серебра я изготавливал маленькую скульптуру. Самым сложным и интересным для меня этапом стала гравировка распятия.
          .col-12.order-xxl-2.d-none.d-xxl-block
            +title-h2-medium('Вдохновение православной тематикой')
            .row
              .col-5
                p На первом курсе училища мы поехали на ювелирную выставку в Сокольниках (Москва). Там я впервые увидел изделия Юрия Федорова,  лучшего тогда православного ювелира. Из всего разнообразия ювелирных украшений на выставке, мне в душу запали именно его крестики и образки, настолько они были красивы и детализированы. Слитые воедино символы и воплощённые образы максимально точно передавали красоту ликов.
                p Еще одним ключевым моментом стала моя выпускная разрядная работа. В качестве разрядного проекта я выбрал изготовление православного креста из музея КУХОМа, он пользовался популярностью на ювелирных
              .col-5.offset-xxl-2
                p выставках, в которых участвовало училище. Крест был классическим, четырёхконечной формы с выгравированной орнаментальной рамкой и скульптурой Иисуса.
                p Главное для любого христианина украшение, нательный крест, отличался особой детализацией, моей задачей было сделать его копию. Крест я изготавливал полностью вручную, 3D-технологий тогда не существовало. Каждый элемент требовал тщательной проработки, суть процесса заключалась в том, что из пластины серебра я изготавливал маленькую скульптуру. Самым сложным и интересным для меня этапом стала гравировка распятия.
        +brand-slider.brand__slider
        .row.mb-4.mb-md-5
          .col-12.mb-4.order-xxl-1.col-xxl-5.offset-xxl-1.mb-xxl-0
            +title-h2-medium('О создании мастерской')
            p Моя первая работа после окончания училища была связана с изготовлением мастер-моделей православных изделий. В большинстве ювелирных мастерских мне не нравился подход к изготовлению, он имел какой-то обобщённый, массовый характер, никто тогда активно не включался в контроль качества украшений и их эстетической и духовной составляющей.
            p Постепенно у меня сформировалось понимание, как грамотно выстроить технологический процесс, чтобы получить максимальное качество. Во мне появилось острое желание начать создавать что-то близкое мне, родное, своё. Так, в 2011 году, я создал свою мастерскую. С тех пор мы проделали огромный путь: от изготовления массового ассортимента изделий до создания авторских украшений в уникальном стиле.
          .col-12.order-xxl-0.col-xxl-6
            .brand__biography-img-wrap2.mb-0
              img.brand__biography-img2(src="img/brand/1.jpg" alt="")
        .row
          .col-12.mb-4.col-xxl-5.mb-xxl-0
            +title-h2-medium('Бренд «Виноградов» сегодня')
            p На сегодняшний день «Виноградов» – это православная ювелирная компания полного цикла, от разработки эскиза и концепции до изготовления готового ювелирного изделия. Выпускающиеся украшения обладают высочайшим качеством, наполнены глубоким смыслом для православного человека, отличаются продуманными деталями и символикой. Перед изготовлением новых моделей мы обязательно консультируемся со священником на предмет соответствия наших украшений православным канонам. Способность мастеров-ювелиров чувствовать дух времени и чтить традиции устоявшегося православного мира позволяют создавать уникальные авторские украшения, которые хочется передавать по наследству и хранить как семейную реликвию.
          .col-12.col-xxl-6.offset-xxl-1
            .brand__biography-img-wrap2.mb-0
              img.brand__biography-img2(src="img/brand/1.jpg" alt="")
      +slot('mission')
        .row
          .col-12.mb-4.mb-md-5.mb-xxl-0.col-xxl-5.pt-xxl-4
            +title-h2-medium('Наша миссия')
            p Когда человек впервые узнаёт о Всевышнем, в его душе появляется интерес к богоискательству, начинается влечение изнутри. «Царство Божие внутри вас есть» (Лука 17:21), даже если человек этого не осознаёт. Именно на этапе интимного и личностного богопознания и начинается подлинная духовная жизнь.
            p Наши изделия содержат в себе историю и смысл, которые так важны для православного человека. Через украшения мы хотим раскрыть подлинную красоту православного мира, его глубокие смыслы, и предложить людям по-новому взглянуть на суть православной веры. Для каждого изделия мы создаем особую историю, каждое украшение – возможность и приглашение к глубокому погружению в духовные размышления и поиск Господа.
          .col-12.col-xxl-6.offset-xxl-1
            .brand__mission-img-wrap
              img(src="img/brand/1.jpg" alt="").brand__mission-img
      +slot('value')
        .row.align-items-center.brand__value-row
          .col-12.col-xxl-4.mb-4.mb-xxl-0
            +title-h2-medium('Стремление к непрерывному росту качества изделий')
            p Наша компания постоянно работает над улучшением качества выпускаемых изделий и всего цикла производства, начиная с создания модели украшений и до финальной концепции упаковки. Только такой метод обеспечения непрерывного и последовательного улучшения всех этапов работы может гарантировать качество как комплексное понятие.
          .col-12.col-xxl-5.offset-xxl-1
            .brand__value-img-wrap
              img(src="img/brand/1.jpg" alt="").brand__value-img
        .row.align-items-center.brand__value-row
          .col-12.col-xxl-4.offset-xxl-1.order-xxl-1.mb-4.mb-xxl-0
            +title-h2-medium('Производство изделий ручной работы')
            p Каждое наше украшение изготавливается и обрабатывается вручную, что придаёт изделиям особую значимость и символичность. Мы ценим многовековые традиции костромских и красносельских художников-ювелиров, что находит своё отражение в кастомном создании украшений как индивидуального и личного символа.
          .col-12.col-xxl-5.offset-xxl-2.order-xxl-0
            .brand__value-img-wrap
              img(src="img/brand/1.jpg" alt="").brand__value-img
        .row.align-items-center.brand__value-row
          .col-12.col-xxl-4.mb-4.mb-xxl-0
            +title-h2-medium('Гарантия качества')
            p Для нас особо важно качество изделий, металла и сырьевых источников. Только тщательный отбор и увлечённость могут гарантировать, что украшение будет удобно в носке и прослужит вам долго. Изделия бренда «Виноградов» – этот тот уровень качества, которое можно передавать из поколения в поколение.
          .col-12.col-xxl-5.offset-xxl-1
            .brand__value-img-wrap
              img(src="img/brand/1.jpg" alt="").brand__value-img
        .row.align-items-center
          .col-12.col-xxl-4.offset-xxl-1.order-xxl-1.mb-4.mb-xxl-0
            +title-h2-medium('Авторский стиль')
            p Свобода творчества, постоянный поиск красивых и технологичных материалов и инноваций формируют уникальный ремесленный и независимый стиль автора. Духовная наполненность – неотъемлемая часть создаваемых украшений, которой мы уделяем внимание в первую очередь.
          .col-12.col-xxl-5.offset-xxl-2.order-xxl-0
            .brand__value-img-wrap
              img(src="img/brand/1.jpg" alt="").brand__value-img

block modals
  +auth-modal()
  +registration-modal()