.brand {
  &__img-wrap {
    height: 180px;
    margin-bottom: 15px;

    @include tablet {
      height: 280px;
      margin-bottom: 20px;
    }

    @include desktop {
      height: 500px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    @include object-fit(cover, center);
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__biography {
    &-row1 {
      margin-bottom: 15px;

      @include tablet {
        margin-bottom: 20px;
      }

      @include desktop {
        margin-bottom: 40px;
      }
    }

    &-img-wrap {
      height: 180px;
      margin-bottom: 40px;

      @include tablet {
        height: 280px;
      }

      @include desktop {
        height: 400px;
        margin-bottom: 80px;
      }
    }

    &-img {
      height: 100%;
      width: 100%;
      @include object-fit(cover, center);
    }

    &-img-wrap2 {
      height: 180px;
      margin-bottom: 40px;

      @include tablet {
        height: 280px;
        margin-bottom: 60px;
      }

      @include desktop {
        height: 400px;
      }
    }

    &-img2 {
      height: 100%;
      width: 100%;
      @include object-fit(cover, center);
    }
  }

  &__slider {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__mission-img-wrap {
    height: 220px;

    @include tablet {
      height: 540px;
    }

    @include desktop {
      height: 500px;
    }
  }

  &__mission-img {
    width: 100%;
    height: 100%;
    @include object-fit(cover, center);
  }

  &__value-row {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__value-img-wrap {
    height: 220px;

    @include tablet {
      height: 500px;
    }

    @include desktop {
      height: 400px;
    }
  }

  &__value-img {
    width: 100%;
    height: 100%;
    @include object-fit(cover, center);
  }
}