.registration-modal {
  &__form {}

  &__input-field {
    &:not(:last-child) {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 20px;
      }
    }
  }

  &__agree {
    .checkbox-field__label {
      @include tablet {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__line {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__submit {
    height: 46px;
    margin-bottom: 15px;

    @include tablet {
      height: 52px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &__auth {
    font-size: 14px;
    line-height: 24px;
    @include font-medium;
    align-self: center;
    color: $color-tuatara;

    &:hover {
      text-decoration: none;
    }

    @include tablet {
      align-self: unset;
    }
  }
}