.delete-profile-modal {
  &__icon-wrap {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-black-haze;
    border-radius: 50%;

    @include tablet {
      width: 60px;
      height: 60px;
      margin: 0 auto 30px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    stroke: $color-tuatara;

    @include tablet {
      width: 30px;
      height: 30px;
    }
  }

  &__title {
    @include font-medium;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    color: $color-tuatara;
    text-align: center;

    @include tablet {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 15px;
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__buttons {
    margin-top: 15px;

    @include tablet {
      display: flex;
      margin-top: 30px;
    }
  }

  &__button {
    height: 46px;
    width: 100%;

    @include tablet {
      height: 52px;
      width: calc(50% - 10px);
    }

    &_no {
      width: 100%;
      margin-bottom: 5px;

      @include tablet {
        margin-right: 10px;
      }
    }

    &_yes {
      width: 100%;

      @include tablet {
        margin-left: 10px;
      }
    }
  }
}