.products-slider-section {
  .title-wrapper {
    .more-btn__text {
      font-size: 15px;
      line-height: 150%;
    }

    .more-btn__btn {
      width: 32px;
      height: 32px;
      margin-left: 5px;
    }
  }
}