.main-slider {
  $p: &;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 40px;
  }

  &__left,
  &__right {
    position: absolute;
    display: none;
    z-index: 3;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @include desktop {
      display: inline-flex;
    }
  }

  &__left {
    left: 16px;

    &:hover {
      #{$p}__left-icon {
        fill: $color-tuatara;
      }
    }

    &.swiper-button-disabled {
      cursor: default;

      #{$p}__left-icon {
        fill: $color-iron;
        opacity: .7;
      }

      &:hover {
        #{$p}__left-icon {
          fill: $color-iron;
        }
      }
    }
  }

  &__right {
    right: 16px;

    &:hover {
      #{$p}__right-icon {
        fill: $color-tuatara;
      }
    }

    &.swiper-button-disabled {
      cursor: default;

      #{$p}__right-icon {
        fill: $color-iron;
        opacity: .7;
      }

      &:hover {
        #{$p}__right-icon {
          fill: $color-iron;
        }
      }
    }
  }

  &__left-icon,
  &__right-icon {
    width: 40px;
    height: 40px;
    fill: $color-white;
    @include transition-main();
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    background: $color-iron;
    width: 8px;
    height: 8px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $color-tuatara;
    width: 12px;
    height: 12px;
  }
}

.main-slide {
  height: 400px;
  padding: 80px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  @include tablet {
    height: 500px;
    padding: 126px 24px 176px;
  }

  @include desktop {
    height: 600px;
    padding: 180px 60px 236px;
  }

  .container {
    padding: 0;

    @include desktop {
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 120%;
    color: $color-white;
    @include font-medium();

    @include tablet {
      font-size: 42px;
      max-width: 443px;
    }

    @include desktop {
      margin-bottom: 20px;
      max-width: 650px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
    color: $color-white;
    margin-bottom: 15px;
    max-width: 443px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @include desktop {
      max-width: 650px;
    }
  }
}