.radio-field {
  $p: &;
  position: relative;
  display: inline-flex;
  align-items: flex-start;

  &__radio:checked ~ #{$p}__mask:before {
    display: block;
  }

  &__mask {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid $color-dove-gray;
    border-radius: 50%;
    margin-right: 5px;

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $color-tuatara;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 20px;
  }
}