.input-field {
  $p: &;

  &.is-error {
    #{$p}__input {
      border-color: $color-guardsman-red;
      color: $color-guardsman-red;
    }
  }

  &__inner {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 46px;
    padding: 18px 10px 8px 15px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: $color-dove-gray;
    font-size: 14px;
    line-height: 20px;
    @include font-medium();
    color: $color-black;

    &_password {
      padding: 18px 35px 8px 15px;
    }

    &::placeholder {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }

    &:not(:placeholder-shown) ~ #{$p}__label {
      transform: translate(0, -18px);
      font-size: 10px;
      line-height: 12px;
    }

    &:focus ~ #{$p}__label {
      transform: translate(0, -18px);
      font-size: 10px;
      line-height: 12px;
    }

    &:disabled {
      border-color: $color-iron;
      color: $color-iron;

      & ~ #{$p}__label {
        cursor: default;
        color: $color-iron;
      }
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }

  &__label {
    cursor: text;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: .4s;
    user-select: none;
    pointer-events: none;
  }

  &__pass-toggle {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    display: inline-flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    #{$p}__pass-toggle-icon_show-pass {
      display: none;
    }

    &_pass-hidden {
      #{$p}__pass-toggle-icon_show-pass {
        display: block;
      }

      #{$p}__pass-toggle-icon_hide-pass {
        display: none;
      }
    }

    &-icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }
  }

  &__error {
    color: $color-guardsman-red;
    @include font-medium();
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
    padding-left: 1px;
  }
}